

* {
    font-family: 'Inter', sans-serif;
  } 

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
   

}
.footer_icon{
    width: 2rem;
    height: 2rem;
}