:root {
     background-color: #918E9B;
    --primary: #2B283A;
    --secondary: #F55A5A;
    --white: #FFFFFF;
    --gray:#918E9B;
    --main-width: 55rem;
    
 
      
  }
  
  .App {
    margin-top: 0.5rem;
    background-color: var(--white);
    width: var(--main-width);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    
     
  
  }
